extends layout

block content
  != data

block scripts
    script(src="assets/jquery.min.js",type="application/javascript")
    script(src="assets/bootstrap/js/bootstrap.min.js",type="application/javascript")
    script(src="assets/markstrap.js",type="application/javascript")
